{% extends 'shop/base.html' %}

{% block containercontent %}
    <form id="myForm" action="/order_process/" method='POST'>{% csrf_token %}
    <h3>Order Summary</h3>
    <table class="table">
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Total Price</th>
        </tr>
        {% for detail in carts %}
        <tr>
            <td>{{ detail.product.name }}</td>
            <td><input type="number" min='0' step='1' name='{{ detail.product.id }}' value='{{ detail.quantity }}'></td>
            <td class="pricetd">{{ detail.total_price }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td>Total Summary: </td>
            <td id='mySum'></td>
        </tr>
    </table>
    
    <h3>Shipping Information</h3>
    <div class='form-group form-inline'>
      <label for='recipient'>Shipping information</label>
      <input type='text' class="form-control" name='recipient' maxlength='30' placeholder='Enter recipient name'/>
    </div>
    <div class='form-group form-inline'>
      <label for='street'>Address</label>
      <input type='text' class="form-control" name='street' maxlength='100' placeholder='Enter street address'/>
      <input type='text' class="form-control" name='city' maxlength='100' placeholder='Enter city name'/>
      <input type='text' class="form-control" name='state' maxlength='100' placeholder='Enter state name'/>
      <input type='text' class="form-control" name='postalcode' maxlength='100' placeholder='Enter postal code'/>
    </div>

    <h3>Payment Information</h3>
    <div class='form-group form-inline'>
      <label for='cardholder'>Cardholder name</label>
      <input type='text' class="form-control" name='cardholder' maxlength='30' placeholder='Enter cardholder name'/>
    </div>
    <div class='form-group form-inline'>
      <label for='cardnum'>Card information</label>
      <input type='text' class="form-control" name='cardnum' maxlength='100' placeholder='Enter card number'/>
      <label for='expire_month'>Expiration Date: </label>
      <input type='date' class="form-control" name='expiredate'/>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>    
    </form>
{% endblock %}

{% block bodyscriptadd %}
  <script>
  $(document).ready(function(){
     colSum();
  });

  function colSum() {
    var sum=0;
    //iterate through each input and add to sum
    $('.pricetd').each(function() {
            sum += parseFloat($(this).text());
    });
    //change value of total
    $('#mySum').html(sum.toFixed(2));
  }

  </script>
{% endblock %}
